<%= form_for(@bill) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :pay_method %><br />
    <%= f.select(:pay_method_id, @pay_methods.map{|u| [u.title,u.id]}) %>
  </div>
  <div class="field">
    <%= f.label :expires %><br />
    <%= f.date_select :expires %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
