<h1>Listing bills</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Pay method</th>
    <th>Expires</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= bill.title %></td>
    <td><%= bill.description %></td>
    <td><%= bill.pay_method.title %></td>
    <td><%= bill.expires %></td>
    <td><%= link_to 'Show', bill %></td>
    <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
    <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bill', new_bill_path %>
